.about {
    padding-top: 0;
    padding-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about>.row {
    margin-top: 0;
    margin-bottom: 0;
}

.about .about-title {
    font-size: 30px;
    color: var(--logo-color);
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.about-title>a {
    text-transform: uppercase;
    text-decoration: none;
}

/* font-family: calc((100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);*/

.about .about-text {
    font-size: 16px;
    color: #000000;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.about .ramka {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 2em;

}

.about .ramka span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    z-index: -1;
}

.about .ramka span:nth-child(1) {
    transform: rotate(0deg);
}

.about .ramka span:nth-child(2) {
    transform: rotate(90deg);
}

.about .ramka span:nth-child(3) {
    transform: rotate(180deg);
}

.about .ramka span:nth-child(4) {
    transform: rotate(270deg);
}

.about .ramka span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--logo-color);
    animation: anim-ramka 4s linear infinite;
}



.hover-effect-btn {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(45, 50, 121, 0);
    /* Настройка цвета и прозрачности для блока с заголовком */
    transition: background 0.5s ease;
}

.hover-effect-btn:hover .overlay {
    display: block;
    background: rgba(41, 31, 134, 0.6);
    /* Настройка цвета и прозрачности для блока с заголовком при наведении */
}

.atitle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 25%;
    /* Отступ сверху */
    font-size: 2.5em;
    /* Размер текста заголовка */
    text-align: center;
    text-transform: uppercase;
    /* Заглавные буквы */
    color: white;
    /* Цвет заголовка */
    z-index: 1;
    transition: top .5s ease;
}

.hover-effect-btn:hover .atitle {
    top: 10%;
    /* Отступ сверху при наведении */
}


.abutton {
    position: absolute;
    width: 100%;
    top: 65%;
    /* Отступ сверху */
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    padding: 15px 40px;
    /* Отступ */
    text-align: center;
    font-size: 2em;
    color: white;
    /* Цвет текста */
    z-index: 1;
    text-decoration: none;
}


.abutton::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0.1, 1);
    cursor: pointer;

}

.ab {
    padding: 15px 40px;
    /* Отступ */
    text-align: center;
    font-size: 2em;
    color: white;
    /* Цвет текста */
    z-index: 1;
    text-decoration: none;
}

.hover-effect-btn:hover .abutton {
    opacity: 1;
}


@keyframes anim-ramka {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}


.about-key {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--dark-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.about-key::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
}

.about .keybox {
    align-items: center;

}

.about .keybox-item {
    line-height: 2;
}

.about .keybox2 {
    align-items: center;
    list-style: none;
    font-weight: 600;

}

.about .keybox2-item {
    line-height: 3;
}

.about .about-service {
    font-size: 18px;
    margin-bottom: 1em;
}

.about .servicebox {
    list-style: none;
}

.about .servicebox-item {}

.servicebox-item>img {
    width: 2.5em;
    height: 2.5em;
}

.about .about-workflow {
    font-size: 26px;
    margin-top: 8em;
}