.contact-backgraund {
    background-image: url('../../img/contact.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(0.5) blur(5px);
}


.contact{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.contact::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
}

.contact-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    font-size:18px;
    text-decoration: none;
    text-align: center;
    font-family: opensans;
    font-weight: 500;
}

.contact-item {
  text-transform: uppercase;  
}
.contact-list {
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.02em;
}


/*page css*/

.page-contact-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 4rem;
    font-size:32px;
    font-family: oswald;
    font-style: italic;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
}

 .h4-contact {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    font-size:22px;
    text-transform: uppercase;
    font-family:oswald;
    letter-spacing: 0.02em;
 }

.contact-foto {
    width: 500px;
    height: 300px;
}

.contact-info {
    font-family:oswald;
    letter-spacing: 0.02em;
    list-style: none;
    font-size: 20px;
   line-height: 2;
}

.bank {
    text-decoration: underline;
    font-size: 22px;
}