.contact-backgraund {
  background-image: url("../../img/contact.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: grayscale(0.5) blur(5px);
}

.contact {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: var(--dark-color);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.contact::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark-color);
}

.contact-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-family: opensans;
  font-weight: 500;
}

.contact-item {
  text-transform: uppercase;
}

.contact-list {
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.02em;
}

/*page css*/

.page-contact-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 4rem;
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  text-transform: uppercase;
}
.page-contact-title2 {
  display: inline-block;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  text-transform: uppercase;
}
.h4-contact {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-foto {
  width: 500px;
  height: 300px;
}

.contact-info {
  font-family: opensans;
  font-weight: 300;
  font-style: normal;
  list-style: none;
  font-size: 20px;
  line-height: 2;
}

.fname {
  font-family: opensans;
  text-decoration: none;
  font-size: 21px;
  color: #f3f3f3;
  text-decoration: underline;
}

.bank {
  text-decoration: underline;
  font-size: 22px;
}







#form {
    position: relative;
    max-width: 800px;
    margin: 0 auto 0;
    background: var(--dark-color);
    border-radius: 10px;
}

.form__wrapper {
    padding: 50px;
    text-align: center;
}



.form__field-inner {
    margin-bottom: 20px;
}

.form__field-inner input, .form__field-inner textarea {
    display: block;
    width: 100%;
    padding: 8px 20px;
    background: #E9EFF6;
    border-width: 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.form__btn {
    padding: 0.5em 1em;
	font-size: 16px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	cursor: pointer;
}

.form__btn:hover,
.form__btn:active {
    background-color: #11214A;
	color: #fff;
}


.form__error {
    color: red;
    display: block;
    font-size: 12px;
}

.form__send-result{
    font-size: 12px;
    color: green;
}
