.header {
    padding-top: 0;
    padding-bottom: 0;
}
header {
   
    background-image: url('../../img/20.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
 }

.header>.row {
    margin-top: 0;
    margin-bottom: 0;
}

.header .header-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}

.main-nav {
    display: flex;
    font-size: 22px;
    gap: 2em;
}

.main-nav>a {
    color: #E3F4F4;
    text-decoration: none;
    font-weight: bolder;
}

.header-text {
    font-size: 30px;
    color: #342a50;
   margin-top: 1em;
   
}