header {
    background-image: url('../../img/100.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    padding-top: 0;
    padding-bottom: 0;
    font-family:oswald;
    z-index: 100;
}
.header-line {
background-color: #11214A;
position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 9%;
    z-index: 3;
}


.header>.row {
    margin-top: 0;
    margin-bottom: 0;
}

.header .header-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}

.header .main-nav {
    display: flex;
    font-size: 22px;
    gap: 2em;
}

.header .main-nav>a {
    color: var(--light-grey-color);
    text-decoration: none;
    font-weight: bolder;
}

.header-title {
    font-size: 3.7em;
    color: var(--light-grey-color);
    font-family: opensans;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: bolder;
    text-transform: uppercase;
    word-spacing: 0.5em;
    letter-spacing: 0.04em;
}

/* font-family: calc((100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);*/

.header .header-text {
    font-family: opensans;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: var(--light-grey-color);
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


/*.header .ul-header {
    margin: 50px;
    display: block;
    overflow: hidden;
    height: 60px;
    padding: 0 0 0 50px;
}

.header .li-header {
    margin: 1px 0;
    height: 60px;
}

.li-header a {
    font-size: 14px;
}

.ul-header div {
    animation: tween 10s ease infinite;
}

@keyframes tween {
    0% {
        margin-top: 0;
    }

    40% {
        margin-top: -20px;
    }

    60% {
        margin-top: -40px;
    }
    80% {
        margin-top: -60px;
    }

    100% {
        margin-top: 0;
    }

}*/


@media (max-width: 2600px) {
    header {
        background-image: url('../../img/100.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
}

@media (max-width: 1800px) {
    header {
        background-image: url('../../img/100.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
}

/*@media (max-width: 2600px) {
    body {
      
        background-size: 90% 100%;
        background-position: center;
     }
}*/

@media (max-width: 560px) {
    header {
        background-image: url('../../img/100.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .header-title {
        font-size: 1.5em;
        color: var(--light-grey-color);
        font-family:opensans;
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-weight: bold;
        text-transform: uppercase;
        word-spacing: 0.8em;
        letter-spacing: 0.05em;
    }
}