/*page css*/

.page-project-title {
    display: inline-block;
    width: 100%;
    
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-project-title2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-line {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 22px;
}

.project-info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    font-size: 20px;
    line-height: 2;
}

.project-info span {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
}

.project-foto {
    width: 400px;
    height: 200px;
}

.foto-project {
    width: 200px;
    height: 350px;
}

.project-foto1 {
    width: 500px;
    height: 300px;
    margin: 1rem;
}
.project-foto_costa {
    width: 450px;
    height: 270px;
    margin: 1rem;
}
.projects>.project-mardi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 40px;
}
.project-foto-mardi {
    width: 450px;
    height: 270px;
    
}

.foto-project-mardi {
    width: 200px;
    height: 300px;
}

.projects {
    display: grid;
    gap: 5px;
}

.projects>.project {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 10px;
}
.projects>.project_costa {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    gap: 15px;
    margin-left: 20px; 
}


.project2 {
    display: flex;
    gap: 10px;
    margin-left: 28rem;
}

.project3 {
    display: flex;
    gap: 10px;
    margin-left: 10rem;
}

.project4 {
    display: flex;
    gap: 10px;
    margin-left: 15rem;
}

@media (min-width:768px) {
    .projects {
        grid-template-columns: 400px;
    }
}

@media (min-width:995px) {
    .projects {
        grid-template-columns: 400px 400px;
    }
}

@media (min-width:1250px) {
    .projects {
        grid-template-columns: 400px 400px 400px;
    }
}