/*page css*/

.page-project-title {
    display: inline-block;
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-project-title2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-line {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 22px;
}

.project-info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    font-size: 20px;
    line-height: 2;
}

.project-info span {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
}

/*energy page start*/

.projects-energy {
    display: grid;
}

.project-energy {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 10px;
}

.foto-project-energy {
    width: 200px;
    height: 350px;
}

@media (min-width:350px) {
    .project-energy {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }
}

@media (min-width:576px) {
    .project-energy {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .foto-project-energy {
        width: 250px;
        height: 350px;
    }
}

@media (min-width:768px) {
    .project-energy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .foto-project-energy {
        width: 250px;
        height: 350px;
    }
}

@media (min-width:992px) {
    .project-energy {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 10px;
        margin-left: 8rem;
    }

    .foto-project-energy {
        width: 250px;
        height: 350px;
    }
}

@media (min-width:1150px) {
    .project-energy {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 10px;
        margin-left: 5rem;
    }

    .foto-project-energy {
        width: 330px;
        height: 410px;
    }
}

@media (min-width:1300px) {
    .project-energy {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        gap: 10px;
        margin-left: 3rem;
    }

    .foto-project-energy {
        width: 350px;
        height: 450px;
    }
}

@media (min-width:1400px) {
    .project-energy {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 10px;
    }
}

/*energy end*/

/*dornan page start*/

.projects-dornan {
    display: grid;
}

.project-dornan {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 10px;
}

.project2-dornan {
    display: flex;
    gap: 10px;
    margin-left: 28rem;
}

.project-foto-dornan {
    width: 400px;
    height: 240px;
}

.foto-project-dornan {
    width: 200px;
    height: 350px;
}

@media (min-width:350px) {
    .project-dornan {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-dornan {
        width: 300px;
        height: 180px;
    }

    .project2-dornan {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
        margin-left: 0;
    }
}

@media (min-width:576px) {
    .project-dornan {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project2-dornan {
        display: grid;
        grid-template-columns: 250px 250px;
        gap: 10px;
        margin-left: 0;
    }

    .foto-project-dornan {
        width: 250px;
        height: 350px;
    }

    .project-foto-dornan {
        width: 400px;
        height: 240px;
    }
}

@media (min-width:768px) {
    .project-dornan {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .project-foto-dornan {
        width: 380px;
        height: 220px;
    }

    .project2-dornan {
        display: grid;
        gap: 10px;
    }

    .foto-project-dornan {
        width: 250px;
        height: 350px;
    }
}

@media (min-width:992px) {
    .project-dornan {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 10px;
        margin-left: 8rem;
    }

    .project-foto-dornan {
        width: 380px;
        height: 220px;
    }

    .project2-dornan {
        display: grid;
        gap: 10px;
    }

    .foto-project-dornan {
        width: 250px;
        height: 350px;
    }
}

@media (min-width:1150px) {
    .project-dornan {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 10px;
        margin-left: 5rem;
    }

    .project-foto-dornan {
        width: 440px;
        height: 300px;
    }

    .project2-dornan {
        display: grid;
        gap: 10px;
    }

    .foto-project-dornan {
        width: 330px;
        height: 410px;
    }
}

@media (min-width:1300px) {
    .project-dornan {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        gap: 10px;
        margin-left: 3rem;
    }

    .project-foto-dornan {
        width: 480px;
        height: 320px;
    }

    .project2-dornan {
        display: grid;
        grid-template-columns: 250px 250px;
        gap: 10px;
        margin-left: 22rem;
    }

    .foto-project-dornan {
        width: 350px;
        height: 450px;
    }
}

@media (min-width:1400px) {
    .project-dornan {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 10px;
    }

    .project-foto-dornan {
        width: 480px;
        height: 320px;
    }
}

/*dornan end*/

/*mercury page start*/

.projects-mercury {
    display: grid;
}

.project-mercury {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 10px;
}

.project2-mercury {
    display: flex;
    gap: 10px;
    margin-left: 28rem;
}

.project-foto-mercury {
    width: 400px;
    height: 240px;
}

.foto-project-mercury {
    width: 200px;
    height: 350px;
}

@media (min-width:350px) {
    .project-mercury {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-mercury {
        width: 300px;
        height: 180px;
    }

    .project2-mercury {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
        margin-left: 0;
    }
}

@media (min-width:576px) {
    .project-mercury {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project2-mercury {
        display: grid;
        grid-template-columns: 200px 200px;
        gap: 10px;
        margin-left: 0;
    }

    .project-foto-mercury {
        width: 400px;
        height: 240px;
    }
}

@media (min-width:768px) {
    .project-mercury {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project2-mercury {
        display: grid;
        grid-template-columns: 200px 200px;
        gap: 10px;
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .project-mercury {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 10px;
    }
}

@media (min-width:1150px) {
    .project-mercury {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 10px;
    }
}

@media (min-width:1300px) {
    .project-mercury {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        gap: 10px;
    }

    .project-foto-mercury {
        width: 380px;
        height: 220px;
    }

    .project2-mercury {
        display: grid;
        grid-template-columns: 250px 250px;
        gap: 10px;
        margin-left: 20rem;
    }

    .foto-project-mercury {
        width: 250px;
        height: 350px;
    }
}

@media (min-width:1400px) {
    .project-mercury {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 10px;
    }

    .project-foto-mercury {
        width: 400px;
        height: 240px;
    }
}

/*mercury end*/

/*orlen page start*/
@media (min-width:350px) {
    .project-foto-orlen {
        width: 330px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-orlen {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-orlen {
        width: 600px;
        height: 380px;
    }
}

/*orlen page end*/

/*ltg page start*/
@media (min-width:350px) {
    .project-foto-ltg {
        width: 300px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-ltg {
        width: 420px;
        height: 310px;
    }
}

@media (min-width:1200px) {
    .project-foto-ltg {
        width: 520px;
        height: 370px;
    }
}

/*ltg page end*/

/*shackleton page start*/

.project-shackleton {
    display: flex;
    gap: 10px;
    margin-left: 15rem;
}

.project-foto-shackleton {
    width: 500px;
    height: 300px;
    margin: 1rem;
}

@media (min-width:350px) {
    .project-shackleton {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .project-foto-shackleton {
        width: 250px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-foto-shackleton {
        width: 350px;
        height: 250px;

    }
}

@media (min-width:768px) {
    .project-shackleton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .project-shackleton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 10rem;
    }
}

@media (min-width:1200px) {
    .project-shackleton {
        display: flex;
        gap: 10px;
        margin-left: 10rem;
    }

    .project-foto-shackleton {
        width: 500px;
        height: 300px;
    }
}

@media (min-width:1300px) {
    .project-shackleton {
        display: flex;
        gap: 10px;
        margin-left: 13rem;
    }

    .project-foto-shackleton {
        width: 500px;
        height: 300px;
    }
}

/*shackleton page end*/

/*sweden page start*/

@media (min-width:350px) {
    .project-sweden {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-foto-sweden {
        width: 300px;
        height: 200px;
    }
}

@media (min-width:576px) {
    .project-foto-sweden {
        width: 350px;
        height: 250px;
    }
}

@media (min-width:768px) {
    .project-sweden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        gap: 1rem;
    }
}

@media (min-width:992px) {
    .project-sweden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        gap: 5rem;
    }
}

@media (min-width:1200px) {
    .project-sweden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-left: 0;
    }

    .project-foto-sweden {
        width: 450px;
        height: 280px;
    }

}

@media (min-width:1350px) {
    .project-sweden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }

    .project-foto-sweden {
        width: 500px;
        height: 300px;
    }
}

/*sweden page end*/

/*costa page start*/
.projects-costa {
    display: grid;
}

.project-costa {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 15px;
    margin-left: 20px;
}

.project-foto-costa {
    width: 400px;
    height: 240px;
}

@media (min-width:350px) {
    .project-costa {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-costa {
        width: 300px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-costa {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-foto-costa {
        width: 400px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-costa {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (min-width:850px) {
    .project-costa {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
}

@media (min-width:1000px) {
    .project-costa {
        display: grid;
        grid-template-columns: repeat(2, 420px);
        margin-left: 8rem;
    }
}

@media (min-width:1150px) {
    .project-costa {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        margin-left: 8rem;
    }
}

@media (min-width:1300px) {
    .project-costa {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        margin-left: 2rem;
    }

    .project-foto-costa {
        width: 380px;
        height: 220px;
    }
}

@media (min-width:1400px) {
    .project-costa {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        margin-left: 8rem;
    }

    .project-foto-costa {
        width: 400px;
        height: 240px;
    }
}

/*costa page end*/

/*mardi page start*/
.projects-mardi {
    display: grid;
}

.project-mardi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 40px;
}

@media (min-width:350px) {
    .project-mardi {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-mardi {
        width: 300px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-mardi {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-foto-mardi {
        width: 400px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-mardi {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (min-width:850px) {
    .project-mardi {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
}

@media (min-width:1000px) {
    .project-mardi {
        display: grid;
        grid-template-columns: repeat(2, 420px);
        margin-left: 6rem;
    }
}

@media (min-width:1110px) {
    .project-mardi {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        margin-left: 8rem;
    }
}

@media (min-width:1300px) {
    .project-mardi {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        margin-left: 3rem;
        justify-items: center;
    }

    .project-foto-mardi {
        width: 370px;
        height: 200px;
    }
}

@media (min-width:1500px) {
    .project-mardi {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-left: 40px;
    }

    .project-foto-mardi {
        width: 450px;
        height: 270px;
    }
}

/*mardi page end*/

/*dawn page start*/
.project-dawn {
    display: flex;
    gap: 10px;
    margin-left: 15rem;
}

.project-foto-dawn {
    width: 500px;
    height: 300px;
    margin: 1rem;
}

@media (min-width:350px) {
    .project-dawn {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .project-foto-dawn {
        width: 250px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-foto-dawn {
        width: 350px;
        height: 250px;
    }
}

@media (min-width:768px) {
    .project-dawn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .project-dawn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 10rem;
    }
}

@media (min-width:1200px) {
    .project-dawn {
        display: flex;
        gap: 10px;
        margin-left: 6rem;
    }

    .project-foto-dawn {
        width: 500px;
        height: 300px;
    }
}

@media (min-width:1300px) {
    .project-dawn {
        display: flex;
        gap: 10px;
        margin-left: 13rem;
    }

    .project-foto-dawn {
        width: 500px;
        height: 300px;
    }
}

/*dawn page end*/

/*endeavor page start*/
@media (min-width:350px) {
    .project-foto-endeavor {
        width: 300px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-endeavor {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-endeavor {
        width: 600px;
        height: 380px;
    }
}

/*endeavor page end*/

/*global page start*/
@media (min-width:350px) {
    .project-foto-global {
        width: 330px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-global {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-global {
        width: 600px;
        height: 380px;
    }
}

/*global page end*/

/*ritz-carlton page start*/
.projects-ritz {
    display: grid;
}

.project-ritz {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 15px;
    margin-left: 20px;
}

.project-foto-ritz {
    width: 400px;
    height: 240px;
}

@media (min-width:350px) {
    .project-ritz {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-ritz {
        width: 300px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-ritz {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-foto-ritz {
        width: 400px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-ritz {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (min-width:850px) {
    .project-ritz {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
}

@media (min-width:1000px) {
    .project-ritz {
        display: grid;
        grid-template-columns: repeat(2, 420px);
        margin-left: 8rem;
    }
}

@media (min-width:1150px) {
    .project-ritz {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        margin-left: 8rem;
    }
}

@media (min-width:1300px) {
    .project-ritz {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        margin-left: 2rem;
    }

    .project-foto-ritz {
        width: 380px;
        height: 220px;
    }
}

@media (min-width:1400px) {
    .project-ritz {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        margin-left: 8rem;
    }

    .project-foto-ritz {
        width: 400px;
        height: 240px;
    }
}

/*ritz-carlton page end*/

/*msc-grandiosa page start*/
@media (min-width:350px) {
    .project-foto-grandiosa {
        width: 330px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-grandiosa {
        width: 480px;
        height: 270px;
    }
}

@media (min-width:1300px) {
    .project-foto-grandiosa {
        width: 600px;
        height: 350px;
    }
}

/*msc-grandiosa page end*/

/*yuriy-kuchiev page start*/
@media (min-width:350px) {
    .project-foto-yuriy {
        width: 330px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-yuriy {
        width: 450px;
        height: 260px;
    }
}

@media (min-width:1300px) {
    .project-foto-yuriy {
        width: 600px;
        height: 370px;
    }
}

/*yuriy-kuchiev page end*/

/*norwegian page start*/
@media (min-width:350px) {
    .project-foto-norwegian {
        width: 340px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-norwegian {
        width: 550px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-norwegian {
        width: 700px;
        height: 380px;
    }
}

/*norwegian page end*/

/*norwegian-star page start*/
@media (min-width:350px) {
    .project-foto-norwegian-star {
        width: 340px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-norwegian-star {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-norwegian-star {
        width: 650px;
        height: 380px;
    }
}

/*norwegian-star page end*/

/*schiff2 page start*/
@media (min-width:350px) {
    .project-foto-schiff2 {
        width: 340px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-schiff2 {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-schiff2 {
        width: 650px;
        height: 380px;
    }
}

/*schiff2 page end*/

/*schiff page start*/
@media (min-width:350px) {
    .project-foto-schiff {
        width: 340px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-schiff {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-schiff {
        width: 650px;
        height: 380px;
    }
}

/*schiff page end*/

/*yevgeny page start*/
.projects-yevgeny {
    display: grid;
}

.project-yevgeny {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 15px;
    margin-left: 20px;
}

.project-foto-yevgeny {
    width: 400px;
    height: 240px;
}

@media (min-width:350px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-yevgeny {
        width: 300px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-foto-yevgeny {
        width: 400px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (min-width:850px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
}

@media (min-width:1000px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: repeat(2, 420px);
        margin-left: 8rem;
    }
}

@media (min-width:1150px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        margin-left: 8rem;
    }
}

@media (min-width:1300px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        margin-left: 2rem;
    }

    .project-foto-yevgeny {
        width: 380px;
        height: 220px;
    }
}

@media (min-width:1400px) {
    .project-yevgeny {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        margin-left: 8rem;
    }

    .project-foto-yevgeny {
        width: 400px;
        height: 240px;
    }
}

/*yevgeny page end*/

/*fedor page start*/
.projects-fedor {
    display: grid;
}

.project-fedor {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 15px;
    margin-left: 20px;
}

.project-foto-fedor {
    width: 400px;
    height: 240px;
}

@media (min-width:350px) {
    .project-fedor {
        display: grid;
        grid-template-columns: 350px;
        gap: 10px;
    }

    .project-foto-fedor {
        width: 300px;
        height: 150px;
    }
}

@media (min-width:576px) {
    .project-fedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-foto-fedor {
        width: 400px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-fedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (min-width:850px) {
    .project-fedor {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
}

@media (min-width:1000px) {
    .project-fedor {
        display: grid;
        grid-template-columns: repeat(2, 420px);
        margin-left: 8rem;
    }
}

@media (min-width:1150px) {
    .project-fedor {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        margin-left: 8rem;
    }
}

@media (min-width:1300px) {
    .project-fedor {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        margin-left: 2rem;
    }

    .project-foto-fedor {
        width: 380px;
        height: 220px;
    }
}

@media (min-width:1400px) {
    .project-fedor {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        margin-left: 8rem;
    }

    .project-foto-fedor {
        width: 400px;
        height: 240px;
    }
}

/*fedor page end*/

/*stepan page start*/
@media (min-width:350px) {
    .project-foto-stepan {
        width: 340px;
        height: 200px;
    }
}

@media (min-width:768px) {
    .project-foto-stepan {
        width: 500px;
        height: 290px;
    }
}

@media (min-width:1300px) {
    .project-foto-stepan {
        width: 650px;
        height: 380px;
    }
}

/*stepan page end*/

.projects {
    display: grid;
    gap: 5px;
}

.project {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 10px;
}