.partner-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    color: var(--dark-color);
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.partner-title::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
}

.partner-title.capitalize {
    text-transform: capitalize;
}

.partner-title.left {
    text-align: left;
}

.partner-title.left::after {
    left: 0;
    transform: translate(0);
}

.partner-title.right {
    text-align: left;
}

.partner-title.right::after {
    right: 0;
    left: auto;
    transform: translate(0);
}

.partner-title>span {
    color: var(--main-color);
}

partner-text {}



.partner-foto1 {}

.partner-foto2 {}

.home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.home>.home-partner {
    display: flex;
    
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    
}


.home-partner-title {
    display: inline-block;
    width: 10em;
    height: 10em;
    font-size: 30px;
    
}
.home-partner-title.left {
    text-align: left;
}

.home-partner-title.left::after {
    left: 0;
    transform: translate(0);
}
.home-partner-title.right {
    text-align: right;
}
.home-partner-title.right::after {
    right: 0;
    left: auto;
    transform: translate(0);
}

.home-partner-foto1 {
    width: 30em;
    height: 30em;
    margin-left: 3em;
}
.home-partner-foto2 {
    width: 30em;
    height: 30em;
    margin-right: 3em;
}


@media (min-width:768px) {
    .home {
        grid-template-columns: 1fr 1fr;
    }
    .home-partner-title {
        
        width: 8em;
        height: 8em;
        font-size: 35px;
        
    }
}

@media (min-width:1400px) {
    .home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .home-partner-foto1 {
        width: 25em;
        height: 25em;
    }
    .home-partner-foto2 {
        width: 25em;
        height: 25em;
    }
    .home-partner-title {
        
        width: 10em;
        height: 10em;
        font-size: 25px;
        
    }
}
@media (min-width:1600px) {
    .home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .home-partner-foto1 {
        width: 25em;
        height: 25em;
    }
    .home-partner-foto2 {
        width: 25em;
        height: 25em;
    }
    .home-partner-title {
        
        width: 15em;
        height: 15em;
        font-size: 30px;
        
    }
}