.partner-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    color: var(--dark-color);
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.partner-title::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
}

.partner-title.capitalize {
    text-transform: capitalize;
}

.partner-title.left {
    text-align: left;
}

.partner-title.left::after {
    left: 0;
    transform: translate(0);
}

.partner-title.right {
    text-align: left;
}

.partner-title.right::after {
    right: 0;
    left: auto;
    transform: translate(0);
}

.partner-title>span {
    color: var(--main-color);
}

partner-text {}



.partner-foto1 {}

.partner-foto2 {}

.home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.home>.home-partner {
    display: flex;

    align-items: center;
    gap: 10px;
    padding: 10px 5px;

}

.home-partner-title {
    display: inline-block;

    font-size: 20px;
    padding-top: 3rem;

}

.home-partner-title.left {
    text-align: left;
}

.home-partner-title.left::after {
    left: 0;
    transform: translate(0);
}

.home-partner-title.right {
    text-align: right;
}

.home-partner-title.right::after {
    right: 0;
    left: auto;
    transform: translate(0);
}

.home-partner-title1 {
    display: inline-block;

    font-size: 20px;
    padding-top: 6.2rem;

}

.home-partner-title1.left {
    text-align: left;
}

.home-partner-title1.left::after {
    left: 0;
    transform: translate(0);
}

.home-partner-title1.right {
    text-align: right;
}

.home-partner-title1.right::after {
    right: 0;
    left: auto;
    transform: translate(0);
}

.home-partner-foto1 {
    width: 20rem;
    height: 20rem;
    margin-left: 3em;
}

.home-partner-foto2 {
    width: 20rem;
    height: 20rem;
    margin-right: 3em;
}

.home2 {
    display: grid;
    grid-template-columns: 1fr;

}

.home-strelka {
    width: 4em;
    height: 4em;
    text-align: center;
    margin-left: 8rem;
    padding-top: 0;
}

.home-strelka:hover {
    width: 4.5rem;
    height: 4.5rem;
}
.button-73 {
    width: 11rem;
    height: 3rem;
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 30rem;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.24px;
    margin-left: 6rem;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-73:hover {
    background-color: var(--main-color);
    box-shadow: #291f86 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-73:active {
    transform: scale(1.025);
}

@media (min-width:768px) {
    .home {
        grid-template-columns: 1fr 1fr;
    }
    .home-partner-foto1 
    .home-partner-foto2 {
        width: 25rem;
        height: 25rem;
    }
    .home-partner-title 
    .home-partner-title1 {
        height: 50rem;
        font-size: 55px;
    }
    .button-73 {
        font-size: 1.5rem;
        padding: .75rem 2rem;
        margin-left: 100px;
    }
}

@media (min-width:992px) {
    .home {
        grid-template-columns: 1fr 1fr;
    }

    .home-partner-foto1 .home-partner-foto2 {
        width: 35em;
        height: 35em;
    }

    .home-partner-title1 {

        height: 15rem;
        font-size: 35px;
        padding-top: 5rem;
    }

    .home-partner-title {
        height: 15rem;
        font-size: 35px;
    }
    .button-73 {
        margin-left: 15rem;
    }
}
@media (min-width:1200px) {
    .home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .home-partner-foto1 .home-partner-foto2 {
        width: 25em;
        height: 25em;
        margin-left: 6rem;
    }

    .home-partner-title1 {

        height: 15rem;
        font-size: 35px;
        padding-top: 5rem;
    }

    
    .home-partner-title {

        height: 15rem;
        font-size: 35px;
        ;
    }
    .button-73 {
        margin-left: 6rem;
    }
}

@media (min-width:1600px) {
    .home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .home-partner-foto1 {
        width: 28em;
        height: 28em;
    }

    .home-partner-foto2 {
        width: 28em;
        height: 28em;
    }

    .home-partner-title 
    .home-partner-title1 {
        height: 20rem;
        font-size: 45px;

    }
}








