.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.services>.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
    text-align: center;



    /* background-color: #fff;
    box-shadow: 0 4px 8px #0002;*/
}

.services>.service>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 40%;
    background-color: var(--logo-color);
}



.services>.service>.service-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1em;
}

.services .service-description {
    font-size: 17px;
    line-height: 1.3em;
    color: #5a5858;
    list-style-type: none;
}


@media (min-width:768px) {
    .services {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:995px) {
    .services {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1250px) {
    .services {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}